.home{
    background-color: black; /* achterground */
    color: #deb00a; /*Text*/
}
.navbar{
    background-color: #433232;
    color: #c89d02; /*Text*/
}
.aboutme{
    background-color: #3ff3ef; /* achterground */
    color: #090807; /*Text*/
}

/*.text{*/
/*    color: #c89d02;*/
/*}*/