<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's party!</title>
    <!-- CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body >
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">

            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav p-3">
                    <a class="navbar-brand text-warning " th:href="@{home}">Lets Party!</a>
                    <a class="nav-link text-white " th:href="@{home}">Home</a>
                    <a class="nav-link text-white active" th:href="@{about}">About</a>
                    <a class="nav-link  text-white active" th:href="@{venuedetails}">VenueDetails</a>

                </div>
            </div>
        </div>
    </nav>
</header >
<main class="m-5">
<div>
        <h1 th:text="*{venue.linkMoreInfo}"></h1>
        <h4 th:text="${venue.getVenueName()}"></h4>
        <p><a th:href="*{venue.getAppName()}" target="_blank" th:text="*{venue.getVenueName()}"></a></p>
        <p th:text="${appName}"></p>

</div>

    </main>

<div class=" fixed-bottom">
    <hr class="border-dark">
    <footer class="text-dark text-center py-3 mt-4">
        <div class="container">
            <p class="mb-0 ">©ThomasMore</p>
        </div>
    </footer></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>